.register-page {
  padding: 3rem 1rem;

  .register-form {
    margin: 0 auto;
    max-width: 350px;

    .register-from-content {
      position: relative;

      .loader {
        background: #2c2c2cde;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      form {
        padding: 1rem;
        padding-top: 0.5rem;

        .alert {
          margin-top: 1rem;
          margin-bottom: 0;
        }

        button.btn {
          margin-top: 1rem;
        }
        .check-username {
          .spinner-container {
            display: inline-block;
            .spinner-border {
              height: 1rem;
              width: 1rem;
              border-width: 0.1rem;
            }
          }
          .feedback {
            margin-left: 5px;
            display: inline;
          }
        }

        ul {
          padding: 0;
          padding-left: 1rem;
          margin: 0;
        }
      }
    }
  }
}
